.container {
  border: 2px solid rebeccapurple;
  border-radius: 8px;
  padding: 8px;
  /* max-width: 300px; */
}

.labelFindContact {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  color: #d1a7ed;
}

.contactFindInput {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /* border: solid 1px #1f1d1d; */
  border-radius: 6px;
  outline: none;
  padding: 8px 16px;
  font-size: 16px;
  box-shadow: 0 0 18px #b88cd6;
  color: #5a0b8f;
  border: solid 2px #b88cd6;
  background-color: #c3bac9;
}

.contactFindInput:focus {
  box-shadow: 0 0 18px #b88cd6, inset 0 0 10px #b88cd6;
  border-color: #5a0b8f;
}
