.container {
  display: flex;
  border: 2px solid rebeccapurple;
  border-radius: 8px;
  box-sizing: border-box;
}

.contactDataWrapper {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 8px;
}

.contactDataDescript {
  display: block;
  margin: 0;
  padding: 4px;
  gap: 8px;
}

.contactDeleteButton {
  box-sizing: border-box;
  height: 42px;
}

.listItem {
  list-style: none;
  padding: 0 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  border: 1px solid rebeccapurple;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  width: 310px;
}
