.container {
  display: flex;
  gap: 32px;
  margin: 0 0 0 auto;
  align-items: center;
}

.nav a {
  padding: 20px 0;
}

.link {
  /* margin: 20px 0; */
}

.linkActive {
  /* margin: 20px 0; */
  color: #646cff;
  text-shadow: 0 0 18px #e9ff00;
  -webkit-text-stroke: 1px rgb(109, 27, 177);
}
